<div id="chat">
    <ul id="messages"></ul>
</div>

<form action="">
    <input id="m" autocomplete="off" /><button>Send</button>
</form>

<h4>Lets search for the restaurant</h4>

<div id="search">
        <input type="text" id='location' placeholder="location">
        <button id='check'>Check</button>
</div>

<div id='restaurant'>

</div>

<div id='logout'>
<a href="/logout">Log Out</a>
</div>