<div id="chat">
    <ul id="messages"></ul>
</div>
<form action="">
    <input id="m" autocomplete="off" /><button>Send</button>
</form>
<h4>Lets search for the restaurant</h4>
<div id="search">
        <input type="text" id='location' placeholder="location">
        <input type="submit" id='check' value="Check">
</div>
<div id='restaurant'>

</div>