<div id='header'>

    <h1>Seriously? <br> Another Lonely Night?</h1>

</div>

<div id='login'>
    <form action="/auth/facebook">
        <input type="submit" class='btn btn-md btn-danger' value="Do it Again">
    </form>
</div>