<div class='container'>

    <div class='header'>
        <h1>Table For Two</h1>
        <h2>No More Lonely Dinner</h2>
    </div>

    <div id='signin'>
        <form action="/auth/facebook" id='form'>
            <input type="submit" class='btn btn-danger' value="Lets do it">
        </form>
    </div>
    

</div>

