<div class='container'>

    <div class='header'>
        <h1>Table For Two</h1>
        <h2>No More Lonely Dinner</h2>
    </div>

    <div class='list'>
        <div id='signin'>
            <form action="/auth/facebook" class='row' id='form'>
                <input type="submit" class='btn btn-md btn-danger col-xs-12 col-sm-12' value="Lets do it">
            </form>
        </div>
    </div>
    

</div>

