<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <!-- <link rel="stylesheet" href="./logout.css"> -->
    <title>Logout</title>
</head>
<body>
    <div style='text-align : center; padding-top : 40px'>
        <a href="/" style='color : #8A0707; font-size : 50px; text-decoration : none'>Try Again? &nbsp;<i class="fa fa-history" aria-hidden="true"></i></a>
    </div>
</body>
</html>