body {
    height : 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) , url('./bk.jpeg') fixed no-repeat;
    background-size: 100% 100%;
}

h1, h2 {
    text-align: center;
    color : #AB2096;
    margin: 40px;
    font-family: 'Chewy', cursive;
    letter-spacing: 3px;
}

h1 {
    font-size: 10vmax;
}

h2 {
    font-size: 6vmax;
}

.header {
    margin: 50px auto 40px auto;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.list {
    display: flex;
    justify-content: space-evenly;

}

input {
    width: 150px;
    font-family: 'Cinzel', serif;
    font-weight: bolder;
    cursor: pointer;
}

.btn {
    /* display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid transparent;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
    width: 100%; */
    text-align: center;
    margin: 10px auto;
}

#foot {
    height: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

@media screen and (max-width: 480px) {
    .btn {
        text-align: center;
        margin: 20px auto;
    }
}