h1, h2 {
    margin-top : 30px;
    text-align : center;
    font-family: 'chewy', cursive;
}

#map {
    margin : 20px auto;
    height : 450px; 
    width : 80%;
}

#logout {
    text-align : center;
    margin-bottom : 20px;
}

a {
    cursor : pointer;
    font-family : 'Cinzel', serif;
    color : black;
    font-weight : bolder;
}

a:hover {
    text-decoration : none;
    color : black;
}

form {
    text-align : center;
    margin : 15px auto
}

input {
    cursor : pointer;
    border : none;
    background-color : white
}

.marker {
    display : flex;
    justify-content : space-around;
    align-items : center;
}

.marker button {
    margin-bottom : 0px;
}

.newTag {
    margin-bottom : 0px;
}

.user {
    display : flex;
    justify-content : space-between;
    align-items : flex-end;
    margin-left: 10px;
    margin-right: 10px;
}

.user img {
    margin-left : 20px;
    vertical-align: middle;
    border-style: none;
}

.user p {
    margin: 0px 10px 1rem 10px;
}

button {
    cursor : pointer;
    margin-top : 10px;
    margin-bottom : 15px;
}

#map .chatInvitation {
    background-color: crimson;
    top: 25%;
    left: 25%;
    right: 25%;
    position: absolute;
}

#map .chatInvitation img {
    width: 100px;
    height : 100px;
    margin: 10px 5px; 
    float: left;
}

#map .chatInvitation p {
    padding-right: 10px;
    padding-top: 30px;
}

.choice {
    clear: both;
    display: flex;
    justify-content: space-around;
    align-content: baseline;
}

.choice button {
    background-color: transparent;
    border: none;
}

#foot {
    height: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

@media screen and (max-width: 480px) {
    .user {
        display: block;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom : 15px;
    }
    .user img {
        width: 100px;
        height: 100px;
        padding: 0px;
    }
    .user p {
        margin: 0px 0px 0px 10px;
    }
    #list .button {
        font-size: 3vw;
    }
    h3 {
        font-size: 6vw;
    }
    #map .chatInvitation p {
        margin-left: 10px;
        margin-top: 0;
        margin-bottom: 1rem;
    }
}